<link rel="stylesheet" href="./app.component.scss">

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Logo AppMercado" src="../assets/img/AppMercado.png"/>
    <div class="spacer"></div>
    <fa-icon class="icon" [icon]="faShoppingCart" size="3x"></fa-icon>
</div>
<div class="container">
  <h2>O seu mercado digital</h2>
  <span>Tudo o que você precisa você encontra aqui!</span>
  <div class="nav">
    <ul>
      <li>
        <a [routerLink]="['/frutas']">Frutas</a>
      </li>
      <li>
        <a [routerLink]="['/limpeza']">Limpeza</a>
      </li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="route">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span>Desenvolvido por: <a href="https://www.linkedin.com/in/pedro-cruz-a51b41191/" target="_blank">Pedro Cruz</a></span>
    <span class="exemplo">Rev:</span>
  </div>
</div>
